#proj{
    background-color: #122620;
    min-height: 80vh;
    padding: 2rem 0;
}

#lineup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#proj h2{
    text-align: center;
    font-size: 2rem;
    color: #F4EBD0;
}

.card{
    background-color: #F4EBD0;
    margin: 2rem 10rem;
    display: flex;
    border: solid #D6AD60;
    text-align: center;
}

.card img{
    height: 22rem;
    min-width: 30rem;
    max-width: 30rem;
    border-right: solid #D6AD60;
    opacity: 0.9;
    filter: grayscale(0.8);
    transition: all 400ms ease-in-out;
}

.card:hover img{
    opacity: 1;
    filter: grayscale(0);
}

.card h3{
    font-size: 2rem;
    color: #B68D40;
}

.card p{
    margin: 2rem 1rem;
}

.card h4{
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    color: #122620;
}

.card .icon{
    margin: 2rem 0;
    font-size: 2.5rem;
    color: #B68D40;
    transition: all 300ms ease-in-out;
}

.card .icon:hover{
    color: #122620;
    transform: scale(1.2);
}

.card .open{
    font-size: 1.5rem;
    gap: 2rem;
}

.card .open a{
    text-decoration: none;
    color: #122620;
    margin: auto 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    display: inline-block;
}

.card .open a:hover{
    color: #D6AD60;
    transform: scale(1.2);
}

.see{
    width: 9rem;
    height: 3rem;
    border-radius: 5px;
    border: solid #B68D40;
    text-transform: uppercase;
    background-color:transparent;
    color: #F4EBD0;
    font-weight: bold;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.see:hover{
    background-color:#B68D40;
    transform: scale(1.1);
}

.see:active{
    background-color:#122620;
    transform: scale(1);
}

@media only screen and (max-width:1023px){
    #proj h2{
        font-size: 1.5rem;
    }

    .card{
        margin: 1rem 0.3rem;
        width: 22rem;
        height: 17rem;
        border-radius: 5px;
    }
    
    .card img{
        height: 16.8rem;
        min-width: 10rem;
        max-width: 10rem;
        border-radius: 3px;
    }

    .card h3{
        font-size: 1rem;
    }
    
    .card p{
        margin: 1rem 0.8rem;
        font-size: 0.6rem;
    }
    
    .card h4{
        font-size: 0.8rem;
    }
    
    .card .icon{
        margin: 1rem 0;
        font-size: 2rem;
    }
    
    .card .open{
        font-size: 1.2rem;
        gap: 1.5rem;
    }

    .card img{
        opacity: 1;
        filter: grayscale(0);
    }
    
    .card:hover img{
        opacity: 1;
        filter: grayscale(0);
    }

}