*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #122620;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 7rem;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #F4EBD0;
    font-weight: bold;
    font-size: 1rem;
    transition: all 400ms ease-in-out;
}

nav .res{
    background-color: #B68D40;
    padding: 0.6rem 2rem;
    margin: 2vh 1rem 2vh 0;
    border: transparent;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: all 300ms ease-in;
}

nav .res:hover{
    background-color: transparent;
    outline: solid #B68D40;
}

nav .res:focus{
    background-color: #B68D40;
    color: #122620;
    outline: solid #F4EBD0;
}

nav a button{
    color: #F4EBD0 !important;
    text-transform: uppercase;
}

nav a:hover {
    color: #B68D40;
}
  
@media only screen and (max-width:1023px){
    nav ul{
        gap: 0.6rem;
    }

    nav .res{
        padding: 0.4rem 1rem;
        margin: 1vh .5rem 1vh 0;
        font-size: 0.8rem;
    }

    nav a{
        font-size: 0.8rem;
    }
}