*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #122620;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 7rem;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #F4EBD0;
    font-weight: bold;
    font-size: 1rem;
}

nav .res{
    background-color: #B68D40;
    padding: 0.6rem 2rem;
    margin: 2vh 1rem 2vh 0;
    border: transparent;
    border-radius: 5px;
    text-align: center;
}

nav .res a{
    color: #F4EBD0 !important;
    text-transform: uppercase;
}